{% extends 'tracker/template.twig' %}

{% block content %}

	<h2 align="center">Edit Issue</h2>
	<h3>Issue# {{issue.id}}: {{issue.title}} </h3>

	<p>{{"Plese provide a descriptive title and a detailed description" | trans }}</p>
<div class="jumbotron" style="padding: 10px;">
	<form action="{{ path_for('tracker.editIssue',{'id':issue.id})}}" method="post" autocomplete="off">
	<div class="form-group {{ errors.title ? 'has-error' : '' }}">
		<label for="title">{{"Title" | trans }}</label>
		<input type="text" name="title" id="title" class = "form-control" value="{{ old.title?old.title:issue.title }}">
		{% if errors.title %}
			<span class= "help-block">{{ errors.title | first}}</span>
		{% endif %}
	</div>

	<div class="form-group {{ errors.description ? 'has-error' : '' }}">
		<label for="description">{{"Description" | trans }}</label>
		<textarea class="form-control" rows="10" name="description" id="description">{{ old.description?old.description:issue.description }}</textarea>
		{% if errors.description %}
			<span class= "help-block">{{ errors.description | first}}</span>
		{% endif %}
	</div>


	<div align ="right" class="form-group">
		<button type="submit" class="btn btn-default">{{"Edit" | trans}}</button>
	</div>

	{{ csrf.field | raw}}
	</form>
</div>


{% endblock %}
